<!doctype html>
<html lang="de" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/src/features/formBuilder/components/stylesheets/stylesheet.css" />
</head>

<body>
 <div class="app">
    <div class="card login-card">

      <h1>Login</h1>
      <p class="text-secondary">Melde dich in deinem Account an</p>

      <div class="divider"></div>

      <input class="input-field" type="text" placeholder="Benutzername" />
      <input class="input-field" type="password" placeholder="Passwort" />

      <button class="button-primary login-btn">Einloggen</button>
      <button class="button-secondary">Registrieren</button>

      <div class="login-footer">
        <a href="#" class="text-secondary">Passwort vergessen?</a>
      </div>

    </div>
  </div>
</body>

</html>
