/* =========================
   App Header
   ========================= */
.app-header {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 7px;
}

.app-header-logo {
  height: 35px;
  width: auto;
  display: block;
  object-fit: contain;
}
